*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    padding: 10px;
    background-color: whitesmoke;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    display:  flex;
    background-color: #5B6DCD;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    justify-content: space-between;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
    transition: 0.1s;
}
.logo{
    display: flex;
    align-items: center;
    font-size: 48px;
    transition: 0.3s;
    border-radius: 10px;
    
    padding-right: 15px;
    background-image: linear-gradient(-90deg,#5B6DCD 50%,white 50%,white 100% );
    background-size: 200%;
    background-repeat: no-repeat ;

    background-position: top right;
}
.logo:hover, nav li:hover{
    color: black;
    background-position: top left;

}
nav li:hover>a, footer nav:hover a{
    color: black;
}
.logo img{
    width: 100px;
}
nav>ul{
    display: flex;
    list-style: none;
    gap:5px;
    font-size: 18px;
}
nav li{
    background-image: linear-gradient(-90deg,#5B6DCD 50%,white 50%,white 100% );
    background-size: 200%;
    background-repeat: no-repeat ;
    background-position: top right;
    transition: 0.3s;
    padding: 5px 15px;
    border-radius: 5px;
}
footer{
    display:  flex;
    background-color: #343e79;
    padding: 10px;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
footer>nav{
    display: flex;
    gap:5px;
    flex-direction: column;
    color: whitesmoke;
    padding: 5px 15px;
    background-image: linear-gradient(-90deg,#343e79 50%,white 50%,white 100% );
    background-size: 200%;
    background-repeat: no-repeat ;

    background-position: top right;
    border-radius: 10px;
    transition: 0.3s;
}
footer>nav:hover, footer span:hover{
    background-position: top left;
    color: rgb(29, 29, 29);
}
footer span{
    padding: 5px 15px;
    background-image: linear-gradient(-90deg,#343e79 50%,white 50%,white 100% );
    background-size: 200%;
    background-repeat: no-repeat ;
    background-position: top right;
    border-radius: 5px;
    transition: 0.3s;
    color: white;
    display: block;
}
svg{
    background-image: linear-gradient(-90deg,#343e79 50%,white 50%,white 100% );
    background-size: 200%;
    background-repeat: no-repeat ;
    padding: 5px;
    background-position: top right;
    border-radius: 10px;
    transition: 0.3s;
    fill: white;
    width: 50px;
}
svg:hover{
    background-position: top left;
    fill: rgb(29, 29, 29);
}
.contact{
    display: flex;
    gap:7px;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:10px
}
.box{
    background-color: white;
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 18px;
}
h3{
    font-size: 24px;
    margin-bottom: 10px;
    color: #0c1649;
}
.t1>h4{
    color: #0c1649;
}
#logo{
    width: 175px;
}
.btn{
    background-image: linear-gradient(-90deg,#5B6DCD 50%,white 50%,white 100% );
    background-size: 200%;
    background-repeat: no-repeat ;
    background-position: top right;
    transition: 0.3s;
    padding: 5px 15px;
    border-radius: 5px;
    border: solid 2px #5B6DCD;
    cursor: pointer;
    color: white;
    font-size: 18px;
    /* outline: none; */
}
.red{
    background-image: linear-gradient(-90deg,red 50%,white 50%,white 100% );
    border: solid 2px red;
}
.btn:hover{
    background-position: top left;
    color: black;
    border: solid 2px rgb(114, 114, 114);
}
input, textarea, #reg, select{
    padding: 5px ;
    border-radius: 5px;
    border: solid 2px rgb(114, 114, 114);
    font-size: 18px;
    outline: none;

}

label{
    font-size: 18px;
}
.total{
    grid-column: 1/3;
    width: 100%;
    text-align: center;
}
.t2{
    display: grid;
    grid-template-columns: auto auto;
    gap:15px
}
textarea{
    resize: none;
    min-height: 200px;
    grid-column: 1/3;
}
.t2>.btn{
    grid-column: 1/3;
    text-align: center;
    width: 100%;
}
.t1{
    display:  grid;
    grid-template-columns: 100%;
    gap:7px;
}
main{
    padding: 10px 0;
}
.t3{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:5px;
}